{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="container mt-5">
    {% include "partials/_messages.html" %}
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'incomes'%}">Incomes</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My incomes</li>
                </ol>
              </nav>
        </div>
        <div class="col-md-2">
            <a href="{% url 'income-add'%}" class="btn btn-outline-primary"> Add Income</a>
        </div>
    </div>

    <div class="row mt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="searchField" placeholder="Search">
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th>Amount ({{currency}})</th>
                            <th>Source</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if incomes %}
                        {% for income in incomes %}
                        <tr>
                            <td>{{income.amount}}</td>
                            <td>{{income.source}}</td>
                            <td>{{income.description}}</td>
                            <td>{{income.date}}</td>
                            <td>
                                <a href="{% url 'income-edit' income.pk %}" class="btn btn-primary btn-xs">Edit</a>
                                <a href="{% url 'income-delete' income.pk %}" class="btn btn-danger btn-xs">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
    
                        {%else%}
                        <tr><td>No data</td></tr>
                        {%endif %}
                    </tbody>
                </table>
            </div>
            <div class="table-search-output">
                <table class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th>Amount ({{currency}})</th>
                            <th>Source</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody class="table-search-output-body">
                        
                    </tbody>
                </table>
            </div>
            <div class="pagination-container">
                {% if is_paginated %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                              {% if page_obj.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only"></span></span></li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </nav>    
            {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/incomes/search.js'%}"></script>

{% endblock %}