{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">

        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'expenses'%}">Expenses</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Confirm delete expense</li>
                </ol>
              </nav>
        </div>
    </div>
    <div class="row">
      {% include "partials/_messages.html" %}
    <form action="{% url 'expense-delete' object.id %}" method="post">
      {% csrf_token %}
      <p>Are you sure you want to delete  <strong>"{{ object.amount }} | {{ object.description }}"</strong> expense?</p>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label"></label>
            <div class="col-sm-2">
              <a class="btn btn-outline-primary" href="{% url 'expenses'%}">Cancel</a>
              <button type="submit" class="btn btn-outline-danger" >Delete</button>
            </div>
        </div>
      </form>
    </div>
</div>


{% endblock %}