{% extends "base_auth.html" %} {% block content %}

{% load static%}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-header">
        <h4 >Please enter your email to receive reset link</div>
      </div>
      <div class="card-body">
       
        <form action="{% url 'request-password-reset-link' %}" method="post">
        {% csrf_token %}
         {% include "partials/_messages.html" %}
            
            
            <div class="mb-3">
              <input type="email" class="form-control" name="email" id="emailField" value="{{fieldValues.email}}" placeholder="Email">
            </div>
            
            <input type="submit" class="btn btn-primary submit-btn" value="Submit"/>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
